/*----------------------------------------------------------------------------------------------------------------------
[Table of contents]

  -- General
  -- Buttons
  -- Alignment
  -- Preloader
  -- Navbar
  -- Home
  -- About
  -- Skills
  -- Services
  -- Stats
  --Testimonials
  -- Blog
  -- Contact
  -- Footer

----------------------------------------------------------------------------------------------------------------------*/

/***********************************************************************************************************************
-- General
***********************************************************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
html,
body {
    height: 100%;
    background-color: #050607;
}

body {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 70px;
}

h3 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
}

.icon {
    font-size: 35px;
}

.color {
    color: #F0B26B;
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 70px
}

.bg-color {
    background-color: #0b0c0c
}

/***********************************************************************************************************************
-- Buttons
***********************************************************************************************************************/

.btn {
    padding: 8px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 4px;
    transition: all 200ms linear;
    text-transform: uppercase;
    border-radius: 4px;
}

.btn:hover {
    background: transparent;
    color: #F0B26B;
    border-color: #F0B26B;
}

.btn-color {
    background: #F0B26B;
    color: #fff;
    border-color: transparent;
}

.bg-parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/***********************************************************************************************************************
-- Alignment
***********************************************************************************************************************/

.pl-0 {
    padding-left: 0
}

.p-30 {
    padding: 30px;
}

.pt-100 {
    padding-top: 100px
}

.mb-20 {
    margin-bottom: 20px
}

.pb-20 {
    padding-bottom: 20px
}

.mt-40 {
    margin-top: 40px
}

.mt-50 {
    margin-top: 50px
}

.owl-theme .owl-dots .owl-dot span {
    margin-bottom: 0
}

.item-details h4,
.services-items h4,
.contact-items h4 {
    margin-top: 15px;
    margin-bottom: 15px
}

/***********************************************************************************************************************
-- Preloader
***********************************************************************************************************************/

.preloader {
    background-color: #050607;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1000000000;
    opacity: 1;
}

.loading-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.loading-inner {
    height: 60px;
    width: 60px;
    padding: 0px;
    display: inline-block;
}

.loading-inner span {
    width: 60px;
    height: 60px;
    position: absolute;
    display: inline-block;
    border-radius: 100%;
    background-color: #F0B26B;
    -webkit-animation: preloading 1.6s linear infinite;
    animation: preloading 1.6s linear infinite;
}

.loading-inner span:last-child {
    animation-delay: -0.6s;
    -webkit-animation-delay: -0.6s;
}

@keyframes preloading {
    0% {
        transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@-webkit-keyframes preloading {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}

/***********************************************************************************************************************
-- Navbar
***********************************************************************************************************************/

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav.yasso-top-nav {
    padding: 15px 10px;
    background-color: #000
}

.navbar-brand {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .5px
}

.navbar-toggler {
    border: 0px
}

.nav-item {
    font-size: 13px;
    font-weight: 500;
    padding: 0 10px;
    color: #fff
}

.nav-item:first-child {
    padding-left: 0
}

.nav-item:last-child {
    padding-right: 0
}

.navbar .nav-item .nav-link {
    color: #fff;
    position: relative;
    padding: 0
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus {
    color: #fff;
}

.navbar .nav-item .nav-link:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #F0B26B;
    visibility: hidden;
    transform: scaleX(1);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar .nav-item .nav-link.active:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

/***********************************************************************************************************************
-- Home
***********************************************************************************************************************/

#home {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/bg-cover.jpg');
}

#home h1 {
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    line-height: 70px;
}

#home .cd-intro {
    margin: 0;
}

.align-elements {
    display: flex;
    align-items: center;
}

/*Home (Social media)*/

.social-home ul {
    padding-left: 20px;
    position: relative;
}

.social-home ul:before {
    height: 2px;
    width: 30px;
    content: '';
    background: #F0B26B;
    position: absolute;
    left: 0%;
    top: 55%;
}

.social-home ul li {
    list-style: none;
    margin: 10px;
    display: inline-block;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}

.social-home ul li:first-child {
    margin-left: 20px
}

.social-home ul li:hover,
.social-home ul li:focus {
    transform: scale(1.5);
    color: #F0B26B;
    transition: .5s ease;
}

/*End Home (Social media)*/

/***********************************************************************************************************************
-- About
***********************************************************************************************************************/

.abt-desc h4:before {
    height: 2px;
    width: 30px;
    content: '';
    background: #F0B26B;
    position: absolute;
    left: 2%;
    top: 4%;
}

.abt-desc h4 {
    padding-left: 40px
}

.abt-inf {
    padding: 20px 0;
    background-color: rgba(240, 178, 107, 0.02);
}

.title,
.value {
    font-size: 15px;
    line-height: 30px
}

.title {
    font-weight: 700;
    position: relative;
    padding-right: 10px
}

.title:after {
    position: absolute;
    content: ':';
    color: #F0B26B;
}

.value {
    color: #fff
}

.abt-details {
    background-color: rgba(240, 178, 107, 0.02);
}

.item-details {
    padding: 0 25px 25px 25px
}

.item-details h4:before {
    background: #F0B26B;
    position: absolute;
    width: 30px;
    height: 2px;
    content: '';
    top: 36%;
    left: 0px;
}

.about-img {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px
}

/***********************************************************************************************************************
-- Skills
***********************************************************************************************************************/

/*Skills-Progress bar*/

#skills-progress {
    margin-top: 20%;
    padding-left: 0
}

#skills ul {
    list-style-type: none;
}

#skills-progress li {
    position: relative;
    margin-bottom: 45px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

#skills-progress li:last-child {
    margin-bottom: 0px
}

#skills-progress li .bar-container,
#skills-progress li .bar {
    position: absolute;
    left: 0;
    height: 5px;
    border-radius: 5px;
    content: "";
}

#skills-progress li .bar-container {
    bottom: -8px;
    width: 100%;
    background-color: #333;
    text-align: right;
}

#skills-progress li .bar {
    top: 0;
}

#skills-progress li .pct {
    position: absolute;
    top: -27px;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s linear;
}

/*End Skills-Progress bar*/

/***********************************************************************************************************************
-- Services
***********************************************************************************************************************/

#services .features {
    background: rgba(240, 178, 107, 0.02);
}

.services-items h4:before {
    background: #F0B26B;
    position: absolute;
    width: 30px;
    height: 2px;
    content: '';
    top: 43%;
    left: 0%;
}

#services .features {
    padding: 20px 40px
}

/***********************************************************************************************************************
-- Portfolio
***********************************************************************************************************************/

#portfolio a,
.shuffle button {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.shuffle button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px
}

.control:hover,
.control:focus {
    color: #F0B26B;
}

.mix {
    padding-bottom: 30px;
}

.img-wrapper {
    position: relative;
}

.img-wrapper:hover .img-overlay {
    visibility: visible;
    opacity: 1;
}

.img-overlay {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease;
}

.infos-overlay {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 0;
}

/***********************************************************************************************************************
-- stats
***********************************************************************************************************************/

#stats {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/stats-cover.jpg');
}

.stats-item {
    margin-bottom: 30px
}

.stats-item .counter {
    margin-bottom: 20px;
    color: #fff
}

.stats-item p {
    position: relative;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    background-color: rgba(240, 178, 107, 0.2);
}

.stats-item p:before {
    background: #F0B26B;
    position: absolute;
    width: 30px;
    height: 2px;
    content: '';
    top: 50%;
    left: -20px;
}

/***********************************************************************************************************************
-- Testimonials
***********************************************************************************************************************/

.testimonial {
    padding: 40px 20px;
    background-color: rgba(240, 178, 107, 0.02);
    height: 100%
}

.testimonial .picture {
    width: 100px;
    height: 100px;
    border: 5px solid rgba(240, 178, 107, 0.1);
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px;
    margin-bottom: 30px
}

.testimonial-content {
    margin-bottom: 30px;
}

.testimonial-title {
    margin-top: 30px;
}

.client-infos p {
    font-style: italic;
    letter-spacing: 1px;
}

/***********************************************************************************************************************
-- Blog
***********************************************************************************************************************/

.date span {
    color: rgba(240, 178, 107, 0.7);
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.blog-content a {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.blog-content a:hover {
    color: #F0B26B;
    transition: .3s ease
}

.blog-pic {
    overflow: hidden;
    margin-bottom: 30px;
}

.blog-pic img {
    transition: all .5s;
}

.blog-pic img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/***********************************************************************************************************************
-- Contact
***********************************************************************************************************************/

.contact-features {
    padding: 20px 40px;
    background: rgba(240, 178, 107, 0.02);
    margin-right: 20px;
    position: relative
}

.contact-items h4:before {
    background: #F0B26B;
    position: absolute;
    width: 30px;
    height: 2px;
    content: '';
    top: 50%;
    left: 0%;
}

.contact-form {
    background: rgba(240, 178, 107, 0.02);
    padding: 45px
}

.contact-form .form-control {
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    height: 40px;
    color: #fff;
    font-size: 12px;
    font-weight: 200;
}

.contact-form textarea.form-control {
    height: 200px;
}

/*Contact placeholder*/

.contact-form .form-control::placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    font-style: italic;
}

.contact-form .form-control::-moz-placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    font-style: italic;
}

.contact-form .form-control::-webkit-placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    font-style: italic;
}

.contact-form .form-control::-ms-placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    font-style: italic;
}

/***********************************************************************************************************************
-- Footer
***********************************************************************************************************************/

footer {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7)
}

footer p {
    margin-bottom: 0;
}

/***********************************************************************************************************************
-- Media Queries
***********************************************************************************************************************/

/*Extra Large Devices >=1199px*/

@media(min-width:1199px) {
    .pr-50 {
        padding-right: 50px
    }
}

/*Large Devices>=992px and <1199px*/

@media(min-width:992px) and (max-width:1199px) {
    .pr-50 {
        padding-right: 50px
    }
    .abt-desc h4:before {
        left: 15px
    }
    .item-details h4:before {
        top: 42%;
    }
    .about-btn {
        margin-bottom: 60px
    }
    #skills-progress {
        margin-top: 25%
    }
}

/*Medium Devices>=768px and <992px*/

@media(min-width:768px) and (max-width:991px) {
    .mb-sm-20 {
        margin-bottom: 20px
    }
    .mb-sm-30 {
        margin-bottom: 30px
    }
    .navbar .navbar-collapse {
        text-align: center;
        background-color: #000;
    }
    .navbar .navbar-collapse .nav-item {
        padding: 0 !important;
    }
    .navbar .navbar-collapse .nav-item a {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .about-btn {
        margin-bottom: 60px
    }
    .abt-desc h4:before {
        top: 3%
    }
    .item-details h4:before {
        top: 42%;
    }
    #skills-progress {
        margin-top: 60px;
        padding-left: 0
    }
    .services-items h4:before {
        top: 50%
    }
    .stats-item p {
        margin-left: 0;
        margin-right: 0
    }
    .contact-features {
        margin-right: 0
    }
}

/*Small Devices>=576px and <768px*/

@media(min-width:576px) and (max-width:767px) {
    .ml-0 {
        margin-left: 0
    }
    .mr-0 {
        margin-right: 0;
    }
    .mb-sm-20 {
        margin-bottom: 20px
    }
    .mb-sm-70 {
        margin-bottom: 70px
    }
    .pb-xs-0 {
        padding-bottom: 0
    }
    .navbar .navbar-collapse {
        text-align: center;
        background-color: #000;
    }
    .navbar .navbar-collapse .nav-item {
        padding: 0 !important;
    }
    .navbar .navbar-collapse .nav-item a {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .abt-desc h4:before {
        top: 3%
    }
    .item-details h4:before {
        top: 50%;
    }
    .about-btn {
        margin-bottom: 60px
    }
    #skills-progress {
        margin-top: 60px;
        padding-left: 0
    }
    .services-items h4:before {
        top: 53%;
    }
    .contact-features {
        margin-right: 0
    }
}

/*Extra Small Devices<576px*/

@media(max-width:575px) {
    .ml-0 {
        margin-left: 0
    }
    .mb-sm-20 {
        margin-bottom: 20px
    }
    .mr-0 {
        margin-right: 0;
    }
    .mb-xs-70 {
        margin-bottom: 70px
    }
    .pb-xs-0 {
        padding-bottom: 0px
    }
    .navbar .navbar-collapse {
        text-align: center;
        background-color: #000;
    }
    .navbar .navbar-collapse .nav-item {
        padding: 0 !important;
    }
    .navbar .navbar-collapse .nav-item a {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #home h1 {
        font-size: 35px;
        font-weight: 700;
    }
    .title-section h2 {
        font-size: 30px;
        font-weight: 700
    }
    .social-home ul {
        padding-left: 30px
    }
    .social-home ul li {
        margin: 10px
    }
    .abt-desc h4:before {
        top: 2%;
        left: 3%
    }
    .about-btn {
        margin-bottom: 60px
    }
    .item-details h4:before {
        top: 42%;
    }
    #skills-progress {
        margin-top: 60px;
        padding-left: 0
    }
    .contact-features {
        margin-right: 0
    }
}