/***********************************************************************************************************************
-- General
***********************************************************************************************************************/

html,
body {
    background-color: #fff;
}

.title-section h2,
h3,
h4,
p {
    color: #050607;
}

.bg-color {
    background-color: #F9F9F9
}

/***********************************************************************************************************************
-- Preloader
***********************************************************************************************************************/

.preloader {
    background-color: #fff
}

/***********************************************************************************************************************
-- Navbar
***********************************************************************************************************************/

nav.yasso-top-nav {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .05)
}

.fixed-top .nav-item {
    color: #fff !important
}

.yasso-top-nav .navbar-nav .nav-item .nav-link {
    color: #050607
}

.yasso-top-nav .navbar-brand {
    color: #050607 !important;
}

/***********************************************************************************************************************
-- About
***********************************************************************************************************************/

.abt-inf,
.abt-details {
    background: rgba(240, 178, 107, 0.05);
}

.value {
    color: #050607
}

/***********************************************************************************************************************
-- Skills
***********************************************************************************************************************/

#skills-progress li {
    color: #050607;
}

/***********************************************************************************************************************
-- Services
***********************************************************************************************************************/

#services .features {
    background: rgba(240, 178, 107, 0.05);
}

/***********************************************************************************************************************
-- Portfolio
***********************************************************************************************************************/

.shuffle button {
    color: #050607
}

.infos-overlay p {
    color: #fff
}

/***********************************************************************************************************************
-- Testimonials
***********************************************************************************************************************/

.testimonial {
    background: rgba(240, 178, 107, 0.05);
}

.testimonial .picture {
    border: 5px solid rgba(240, 178, 107, 0.05);
}

.owl-theme .owl-dots .owl-dot span {
    background: rgba(240, 178, 107, 0.05);
}

/***********************************************************************************************************************
-- Blog
***********************************************************************************************************************/

.blog-content a {
    color: #050607
}

/***********************************************************************************************************************
-- Contact
***********************************************************************************************************************/

.contact-features {
    background: rgba(240, 178, 107, 0.05);
}

.contact-form .form-control {
    border-bottom: 1px solid #050607;
    color: #050607;
}

.contact-form .form-control {
    border-bottom: 1px solid #050607;
    color: #050607
}

.contact-form .form-control::placeholder {
    color: #050607
}

.contact-form .form-control::-moz-placeholder {
    color: #050607
}

.contact-form .form-control::-webkit-placeholder {
    color: #050607
}

.contact-form .form-control::-ms-placeholder {
    color: #050607
}

/***********************************************************************************************************************
-- Footer
***********************************************************************************************************************/

footer {
    background-color: #F9F9F9;
    border-top: 1px solid rgba(0, 0, 0, .05)
}