
    <!-- BEGIN OF site header Menu -->
    <header class="page-header navbar page-header-alpha scrolled-white menu-right topmenu-right">

        <!-- Begin of menu icon toggler -->
        <button class="navbar-toggler site-menu-icon" id="navMenuIcon">
      <!-- Available class : menu-icon-dot / menu-icon-thick /menu-icon-random -->
      <span class="menu-icon menu-icon-random">
        <span class="bars">
          <span class="bar1"></span>
          <span class="bar2"></span>
          <span class="bar3"></span>
        </span>
      </span>
    </button>
        <!-- End of menu icon toggler -->

        <!-- Begin of logo/brand -->
        <a class="navbar-brand" href="#">
      <span class="logo">
        <img class="light-logo" src="assets/img/logo.png" alt="Logo">
      </span>
      <span class="text">
        <span class="line">Kode Alpha</span>
        <span class="line sub">Software Solutions.</span>
      </span>
    </a>
        <!-- End of logo/brand -->

        <!-- begin of menu wrapper -->
        <div class="all-menu-wrapper" id="navbarMenu">
            <!-- Begin of top menu -->
            <nav class="navbar-topmenu">

            </nav>
            <!-- End of top menu -->

            <!-- Begin of hamburger mainmenu menu -->
            <nav class="navbar-mainmenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#home">Home
              <span class="sr-only">(current)</span>
            </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
            <!-- End of hamburger mainmenu menu -->

            <!-- Begin of sidebar nav menu params class: text-only / icon-only-->
            <nav class="navbar-sidebar ">
                <ul class="navbar-nav" id="qmenu">
                    <li class="nav-item" data-menuanchor="home">
                        <a href="#home">
              <i class="icon ion-ios-home-outline"></i>
              <span class="txt">Home</span>
            </a>
                    </li>
                    <li class="nav-item" data-menuanchor="about">
                        <a href="#about">
              <i class="icon ion-ios-information-outline"></i>
              <span class="txt">About</span>
            </a>
                    </li>
                    <li class="nav-item" data-menuanchor="services">
                        <a href="#services">
              <i class="icon ion-ios-list-outline"></i>
              <span class="txt">Services</span>
            </a>
                    </li>
                    <li class="nav-item" data-menuanchor="projects">
                        <a href="#projects">
              <i class="icon ion-ios-albums-outline"></i>
              <span class="txt">Projects</span>
            </a>
                    </li>
                    <li class="nav-item" data-menuanchor="register">
                        <a href="#register">
              <i class="icon ion-ios-compose-outline"></i>
              <span class="txt">Register</span>
            </a>
                    </li>
                    <li class="nav-item" data-menuanchor="contact">
                        <a href="#contact">
              <i class="icon ion-ios-telephone-outline"></i>
              <span class="txt">Contact</span>
            </a>
                    </li>
                </ul>
            </nav>
            <!-- End of sidebar nav menu -->
        </div>
        <!-- end of menu wrapper -->

    </header>
    <!-- END OF site header Menu-->