
    <!-- BEGIN OF page cover -->
    <div class="page-cover">
        <!-- Cover Background -->
        <div class="cover-bg bg-img" data-image-src="assets/img/bg-default.jpg"></div>

        <!-- BEGIN OF Slideshow Background - uncomment below to use background slideshow-->
        <div class="cover-bg slide-show">
            <i class='img' data-src='assets/img/bg-default1.jpg'></i>
            <i class='img' data-src='assets/img/bg-default2.jpg'></i>
            <i class='img' data-src='assets/img/bg-default3.jpg'></i>
            <i class='img' data-src='assets/img/bg-default4.jpg'></i>
        </div>
        <!-- END OF Slideshow Background -->

        <!-- Transluscent mask as filter -->
        <div class="cover-bg-mask bg-color" data-bgcolor="rgba(29, 29, 29, 0.2)"></div>
    </div>
    <!--END OF page cover -->

    <!-- BEGIN OF page main content -->
    <main class="page-main page-fullpage main-anim" id="mainpage">

        <!-- Begin of home section -->
        <div class="section section-home fullscreen-md fp-auto-height-responsive " data-section="home">
            <!-- Begin of section wrapper -->
            <div class="section-wrapper">
                <!-- content -->
                <div class="section-content anim">
                    <div class="row">
                        <div class="col-12 col-md-6 text-left">
                            <!-- title and description -->
                            <div class="title-desc">
                                <h2 class="display-4 display-title home-title bordered anim-1">Kode Alpha</h2>
                                <h4 class="anim-2">When it comes to I.T solution services our customers will always find us one step ahead.
                                </h4>
                            </div>

                            <!-- Action button -->
                            <div class="btns-action anim-3">
                                <a class="btn btn-outline-white btn-round" href="#about">
                  Get started
                </a>
                            </div>
                        </div>

                        <!-- begin of right content -->
                        <div class="col-12 col-md-6 right-content hidden-sm center-vh">
                            <!-- content -->
                            <div class="section-content">
                                <!-- illustartion -->
                                <div class="illustr zoomout-1">
                                    <img class="logo" src="assets/img/logo2.png" alt="Kode Alpha" style="max-width: 200px !important; max-height: 60px !important;">
                                </div>
                            </div>
                        </div>
                        <!-- end of right content -->
                    </div>
                </div>


                <!-- Arrows scroll down/up -->
                <footer class="section-footer scrolldown">
                    <a class="down">
            <span class="icon"></span>
            <span class="txt">Scroll Down</span>
          </a>
                </footer>
            </div>
            <!-- End of section wrapper -->
        </div>
        <!-- End of home section -->

        <!-- Begin of description section -->
        <div class="section section-description fp-auto-height-responsive " data-section="about">
            <!-- Begin of section wrapper -->
            <div class="section-wrapper center-vh dir-col anim">
                <!-- title -->
                <div class="section-title text-center">
                    <h5 class="title-bg">About</h5>
                    <h2 class="display-4 display-title anim-2">Professional Software Services</h2>
                </div>

                <!-- content -->
                <div class="section-content reduced anim text-center">
                    <!-- title and description -->
                    <div class="title-desc anim-3">
                        <p>KodeAlpha is an established software development comapny that offers application development, website development, website design, desktop application development and graphic designing.</p>
                    </div>

                </div>

                <!-- Arrows scroll down/up -->
                <footer class="section-footer scrolldown">
                    <a class="down">
            <span class="icon"></span>
            <span class="txt">Team</span>
          </a>
                </footer>
            </div>
            <!-- End of section wrapper -->
        </div>
        <!-- End of description section -->

        <!-- Begin of description section -->
        <div class="section section-description fp-auto-height-responsive " data-section="team">
            <!-- Begin of section wrapper -->
            <div class="section-wrapper center-vh dir-col anim">
                <!-- title -->
                <div class="section-title text-center">
                    <h5 class="title-bg">Team</h5>
                </div>

                <!-- content -->
                <div class="section-content anim text-center">
                    <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->
                    <!-- begin of item -->
                    <div class="item row justify-content-between">
                        <!-- img-frame-normal demo -->
                        <div class="col-12 col-sm-6 col-md-4 center-vh">
                            <div class="section-content anim translateUp">
                                <div class="images text-center">
                                    <div class="img-avatar-alpha">
                                        <div class="img-1 shadow">
                                            <a href="item.html">
                        <img class="img" src="assets/img/items/team.jpg" alt="Image">
                      </a>
                                        </div>
                                        <div class="legend text-center pos-abs">
                                            <h5>Khushboo Hussain</h5>
                                            <p class="small">CEO / Marketing Director</p>
                                            <div class="icons">
                                                <a class="icon-btn" href="https://www.instagram.com/khushboo.hussain/" target="_blank">
                          <i class="icon fa fa-instagram"></i>
                        </a>
                                                <a class="icon-btn" href="https://www.facebook.com/khushboo.hussain777/" target="_blank">
                          <i class="icon fa fa-facebook"></i>
                        </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- img-frame-normal demo -->
                        <div class="col-12 col-sm-6 col-md-4 center-vh">
                            <div class="section-content anim">
                                <div class="images text-center">
                                    <div class="img-avatar-alpha">
                                        <div class="img-1 shadow">
                                            <a href="item.html">
                        <img class="img" src="assets/img/items/team1.jpg" alt="Image">
                      </a>
                                        </div>
                                        <div class="legend text-center pos-abs">
                                            <h5>Junaid Hassan</h5>
                                            <p class="small">Co-Founder / Full Stack Developer</p>
                                            <div class="icons">
                                                <a class="icon-btn" href="https://www.instagram.com/junaid.play/" target="_blank">
                          <i class="icon fa fa-instagram"></i>
                        </a>
                                                <a class="icon-btn" href="https://www.facebook.com/junaid.play/" target="_blank">
                          <i class="icon fa fa-facebook"></i>
                        </a>
                        <a class="icon-btn" href="https://www.linkedin.com/in/mastercoder3/" target="_blank">
                            <i class="icon fa fa-linkedin"></i>
                          </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- img-frame-normal demo -->
                        <div class="col-12 col-sm-6 col-md-4 center-vh">
                            <div class="section-content anim translateDown">
                                <div class="images text-center">
                                    <div class="img-avatar-alpha">
                                        <div class="img-1 shadow">
                                            <a href="item.html">
                        <img class="img" src="assets/img/items/team2.jpg" alt="Image">
                      </a>
                                        </div>
                                        <div class="legend text-center pos-abs">
                                            <h5>Saad Anjum</h5>
                                            <p class="small">Designer / Developer</p>
                                            <div class="icons">
                                                <a class="icon-btn" href="https://www.instagram.com/saadanjum9/" target="_blank">
                          <i class="icon fa fa-instagram"></i>
                        </a>
                                                <a class="icon-btn" href="https://www.facebook.com/saad.anjum.33449/" target="_blank">
                          <i class="icon fa fa-facebook"></i>
                        </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end of item -->
                </div>

                <!-- Arrows scroll down/up -->
                <footer class="section-footer scrolldown">
                    <a class="down">
            <span class="icon"></span>
            <span class="txt">Our Services</span>
          </a>
                </footer>
            </div>
            <!-- End of section wrapper -->
        </div>
        <!-- End of description section -->

        <!-- Begin of list feature section -->
        <div class="section section-list-feature fp-auto-height-responsive " data-section="services">
            <!-- Begin of section wrapper -->
            <div class="section-wrapper twoside anim">
                <!-- title -->
                <div class="section-title text-center">
                    <h2 class="display-4 display-title title-bg">Services</h2>
                    <p class="anim-2">THE AREAS WHERE <a href=""><span class="marked">KODEALPHA</span></a> TEAM IS EXPERT IN.</p>
                </div>

                <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->
                <!-- begin of item -->
                <div class="item row justify-content-between fade-1">
                    <!-- begin of column content -->
                    <div class="col-12 col-md-6 col-lg-6">
                        <!-- content -->
                        <div class="section-content">
                            <!-- a media object -->
                            <div class="media">
                                <div class="img d-flex mr-3">
                                    <i class="icon ion-ios-browsers-outline"></i>
                                </div>
                                <div class="media-body">
                                    <h4>Design</h4>
                                    <p>Making elegant and creative designs, branding your bussiness, logo making and many more...</p>
                                </div>
                            </div>
                            <!-- a media object -->
                            <div class="media">
                                <div class="img d-flex mr-3">
                                    <i class="icon ion-ios-cog-outline"></i>
                                </div>
                                <div class="media-body">
                                    <h4>Coding</h4>
                                    <p>Full Stack Developing using Node.js and Angular framework,
                                         Mobile applications on Ionic Platform and NativeScript along with Google Firestore solution.
                                    </p>
                                </div>
                            </div>
                            <!-- a media object -->
                            <div class="media">
                                <div class="img d-flex mr-3">
                                    <i class="icon ion-ios-analytics-outline"></i>
                                </div>
                                <div class="media-body">
                                    <h4>SEO</h4>
                                    <p>Web marketing and SEO for optimizing key searches for a website.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of column content -->

                    <!-- begin of column content -->
                    <div class="col-12 col-md-6 col-lg-6">
                        <!-- content -->
                        <div class="section-content">
                            <!-- a media object -->
                            <div class="media">
                                <div class="img d-flex mr-3">
                                    <i class="icon ion-ios-grid-view-outline"></i>
                                </div>
                                <div class="media-body">
                                    <h4>E-Commerce</h4>
                                    <p>Tailoring best e-commerce solution for your bussiness venture, both cost effective and efficient.</p>
                                </div>
                            </div>
                            <!-- a media object -->
                            <div class="media">
                                <div class="img d-flex mr-3">
                                    <i class="icon ion-ios-lightbulb-outline"></i>
                                </div>
                                <div class="media-body">
                                    <h4>Development</h4>
                                    <p>Developing custom Software Programs, including Websites, Mobile applications, Desktop applications
                                        and Web Desiging.</p>
                                </div>
                            </div>
                            <!-- a media object -->
                            <div class="media">
                                <div class="img d-flex mr-3">
                                    <i class="icon ion-arrow-expand"></i>
                                </div>
                                <div class="media-body">
                                    <h4>Web Hosting</h4>
                                    <p>Providing best services for web hosting, an opportunity for ventures for make their dreams possible.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of column content -->
                </div>
                <!-- end of item -->

                <!-- Arrows scroll down/up -->
                <footer class="section-footer scrolldown">
                    <a class="down">
            <span class="icon"></span>
            <span class="txt">Scroll</span>
          </a>
                </footer>
            </div>
            <!-- End of section wrapper -->
        </div>
        <!-- End of list feature section -->

    

        <!-- Begin of slider section -->
        <div class="section section-twoside fp-auto-height-responsive " data-section="projects">
            <!-- Begin of section wrapper -->
            <div class="section-wrapper twoside">
                <!-- title -->
                <div class="section-title text-center">
                    <h5 class="title-bg ">Projects</h5>
                </div>


                <!-- begin of carousel-swiper-beta -->
                <div class="slider-wrapper carousel-swiper-beta carousel-smalls carousel-swiper-beta-demo mt-40">
                    <!-- slider -->
                    <div class="slider-container swiper-container">
                        <ul class="item-list swiper-wrapper">
                            <!-- item -->
                            <li class="slide-item swiper-slide">
                                <div class="item-wrapper">
                                    <div class="illustr">
                                        <img src="assets/img/items/img-sample2-small.jpg" alt="Image" class="img">
                                    </div>
                                    <a class="legend" href="item.html#project_url">
                                        <h3 class="display-3">Mountain</h3>
                                        <h4>Music / Beats</h4>
                                    </a>
                                </div>
                            </li>
                            <!-- item -->
                            <li class="slide-item swiper-slide">
                                <div class="item-wrapper">
                                    <div class="illustr">
                                        <img src="assets/img/items/img-sample3-small.jpg" alt="Image" class="img">
                                    </div>
                                    <a class="legend" href="item.html#project_url">
                                        <h3 class="display-3">Cloud</h3>
                                        <h4>Music / Beats</h4>
                                    </a>
                                </div>
                            </li>
                            <!-- item -->
                            <li class="slide-item swiper-slide">
                                <div class="item-wrapper">
                                    <div class="illustr">
                                        <img src="assets/img/items/img-sample4-small.jpg" alt="Image" class="img">
                                    </div>
                                    <a class="legend" href="item.html#project_url">
                                        <h3 class="display-3">Garden</h3>
                                        <h4>Music / Beats</h4>
                                    </a>
                                </div>
                            </li>
                            <!-- item -->
                            <li class="slide-item swiper-slide">
                                <div class="item-wrapper">
                                    <div class="illustr">
                                        <img src="assets/img/items/img-sample5-small.jpg" alt="Image" class="img">
                                    </div>
                                    <a class="legend" href="item.html#project_url">
                                        <h3 class="display-3">Sky</h3>
                                        <h4>Music / Beats</h4>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- pagination -->
                    <div class="items-pagination bar"></div>

                    <!-- navigation -->
                    <div class="items-button bottom fit items-button-prev">
                        <a class="btn btn-transp-arrow btn-primary icon-left" href="">
              <span class="icon arrow-left"></span>
              <span class="text">Prev</span>
            </a>
                    </div>
                    <div class="items-button bottom fit items-button-next">
                        <a class="btn btn-transp-arrow btn-primary" href="">
              <span class="icon arrow-right"></span>
              <span class="text">Next</span>
            </a>
                    </div>
                </div>
                <!-- end of carousel-swiper-beta -->


            </div>
            <!-- End of section wrapper -->
        </div>
        <!-- End of slider section -->

        <!-- Begin of list two side 1 section -->
        <div class="section section-twoside fp-auto-height-responsive " data-section="products">
            <!-- Begin of section wrapper -->
            <div class="section-wrapper twoside">

                <!-- title -->
                <div class="section-title text-center ">
                    <h5 class="title-bg">Products</h5>
                    <div class="title-abs">
                        <h2 class="display-4 display-title">Products</h2>
                        <p>Here is the list of our awesome pages.</p>
                    </div>
                </div>

                <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->
                <!-- begin of item -->
                <div class="item row justify-content-between">
                    <!-- img-frame-normal demo -->
                    <div class="col-12 col-sm-6 col-md-4 center-vh">
                        <div class="section-content anim translateUp">
                            <div class="images text-center">
                                <div class="img-frame-normal">
                                    <div class="img-1 shadow">
                                        <a href="index.html">
                      <img class="img" src="assets/demopage/default.jpg" alt="Image">
                    </a>
                                    </div>
                                    <div class="legend text-left pos-abs">
                                        <h5>Default</h5>
                                        <p class="small">Image or solid color as background of the page</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- img-frame-normal demo -->
                    <div class="col-12 col-sm-6 col-md-4 center-vh">
                        <div class="section-content anim">
                            <div class="images text-center">
                                <div class="img-frame-normal">
                                    <div class="img-1 shadow">
                                        <a href="index-slideshow.html">
                      <img class="img" src="assets/demopage/slideshow.jpg" alt="Image">
                    </a>
                                    </div>
                                    <div class="legend text-left pos-abs">
                                        <h5>Slideshow</h5>
                                        <p class="small">Fullscreen background image slideshow</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- img-frame-normal demo -->
                    <div class="col-12 col-sm-6 col-md-4 center-vh">
                        <div class="section-content anim translateDown">
                            <div class="images text-center">
                                <div class="img-frame-normal">
                                    <div class="img-1 shadow">
                                        <a href="index-video.html">
                      <img class="img" src="demopage/video.jpg" alt="Image">
                    </a>
                                    </div>
                                    <div class="legend text-left pos-abs">
                                        <h5>Video</h5>
                                        <p class="small">Fullscreen video background</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end of item -->
            </div>
            <!-- End of section wrapper -->
        </div>
        <!-- End of list two side 1 section -->

        <!-- Begin of list two side 1 section -->
        <div class="section section-twoside fp-auto-height-responsive " data-section="products-2">
            <!-- Begin of section wrapper -->
            <div class="section-wrapper twoside">

                <!-- title -->
                <div class="section-title text-center">
                    <h5 class="title-bg">Products</h5>
                </div>

                <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->
                <!-- begin of item -->
                <div class="item row justify-content-between">
                    <!-- img-frame-normal demo -->
                    <div class="col-12 col-md-6 center-vh start-h">
                        <div class="section-content anim translateUp">
                            <div class="images text-center">
                                <div class="img-frame-normal">
                                    <div class="img-1 shadow">
                                        <a href="item.html#project_url">
                      <img class="img" src="assets/img/items/img-sample7.jpg" alt="Image">
                    </a>
                                    </div>
                                    <div class="legend text-left pos-abs">
                                        <h5>Computer Desktop</h5>
                                        <p class="small">Art / Programing</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- img-frame-normal demo, portrait orientation -->
                    <div class="col-12 col-sm-6 col-md-5 col-lg-4 center-vh end-h">
                        <div class="section-content anim">
                            <div class="images text-center">
                                <div class="img-frame-normal portrait">
                                    <div class="img-1 shadow">
                                        <a href="item.html#project_url">
                      <img class="img" src="assets/img/items/img-portrait.jpg" alt="Image">
                    </a>
                                    </div>
                                    <div class="legend text-right pos-abs">
                                        <h5>Computer Desktop</h5>
                                        <p class="small">Art / Programing</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end of item -->
            </div>
            <!-- End of section wrapper -->
        </div>
        <!-- End of list two side 1 section -->

        <!-- Begin of list two side 1 section -->
        <div class="section section-twoside fp-auto-height-responsive " data-section="product-item-alpha">
            <!-- Begin of section wrapper -->
            <div class="section-wrapper twoside center-vh dir-col">
                <!-- title -->
                <div class="section-title text-center">
                    <h5 class="title-bg">Interior</h5>
                </div>


                <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->

                <div class="item row justify-content-between">

                    <!-- img-frame-legend-alpha demo -->
                    <div class="col-12 col-sm-6 center-vh">
                        <div class="section-content anim translateUp">
                            <div class="images text-center">
                                <div class="img-frame-legend-alpha">
                                    <div class="img-1 shadow">
                                        <img class="img" src="assets/img/items/img-sample7.jpg" alt="Image">
                                    </div>
                                    <div class="legend">
                                        <h2 class="display-4">
                                            <strong>Computer Desktop</strong>
                                        </h2>
                                        <p class="">Art / Interior Design</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- img-frame-legend-alpha portrait mode bottom demo -->
                    <div class="col-12 col-sm-6 col-md-5">
                        <div class="section-content anim">
                            <!-- title and description -->
                            <div class="title-desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque
                                    luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem.</p>
                            </div>

                            <a class="btn btn-transp-arrow btn-outline btn-primary btn-round" href="item.html#project_url">
                <span class="icon arrow-right"></span>
                <span class="text">View</span>
              </a>
                        </div>
                    </div>


                </div>
                <!-- end of item -->
            </div>
            <!-- End of section wrapper -->
        </div>
        <!-- End of list two side 1 section -->

        <!-- Begin of list two side 1 section -->
        <div class="section section-twoside fp-auto-height-responsive " data-section="product-item-beta">
            <!-- Begin of section wrapper -->
            <div class="section-wrapper twoside center-vh dir-col">
                <!-- title -->
                <div class="section-title text-center">
                    <h5 class="title-bg">Photography</h5>
                </div>


                <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->

                <div class="item row justify-content-between">

                    <!-- img-frame-legend-alpha demo -->
                    <div class="col-12 col-sm-6 center-vh">
                        <div class="section-content anim translateUp">
                            <div class="images text-center">
                                <div class="img-frame-legend-alpha">
                                    <div class="img-1 shadow">
                                        <img class="img" src="assets/img/items/img-sample2.jpg" alt="Image">
                                    </div>
                                    <div class="legend">
                                        <h2 class="display-4">
                                            <strong>Expedition</strong>
                                        </h2>
                                        <p class="">Photo / Campaign</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- img-frame-legend-alpha portrait mode bottom demo -->
                    <div class="col-12 col-sm-6 col-md-5">
                        <div class="section-content anim">
                            <!-- title and description -->
                            <div class="title-desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque
                                    luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem.</p>
                            </div>

                            <a class="btn btn-transp-arrow btn-outline btn-primary btn-round" href="item.html#project_url">
                <span class="icon arrow-right"></span>
                <span class="text">View</span>
              </a>
                        </div>
                    </div>


                </div>
                <!-- end of item -->
            </div>
            <!-- End of section wrapper -->
        </div>
        <!-- End of list two side 1 section -->


        <!-- Begin of register/login/signin section -->
        <div class="section section-register fp-auto-height-responsive " data-section="register">
            <!-- Begin of section wrapper -->
            <div class="section-wrapper">
                <!-- title -->
                <div class="section-title text-center">
                    <h5 class="title-bg">Subscribe</h5>
                </div>

                <!-- content -->
                <div class="section-content anim text-center">

                    <div class="row align-items-center justify-content-center">

                        <div class="col-12 col-md-8 col-lg-6">
                            <!-- Registration form container-->
                            <form class="send_email_form form-container form-container-transparent form-container-white" method="post" action="ajaxserver/serverfile.php">
                                <div class="form-desc">
                                    <h2 class="display-4 display-title  anim-2">Subscribe</h2>
                                    <p class="invite  anim-3">Don't miss any new opportunity, Hurry up! register now</p>
                                </div>
                                <div class="form-input  anim-4">
                                    <div class="form-group form-success-gone">
                                        <label for="reg-name">Name</label>
                                        <input id="reg-name" name="name" class="form-control-line form-control-white" type="text" />
                                    </div>
                                    <div class="form-group form-success-gone">
                                        <label for="reg-email">Email</label>
                                        <input id="reg-email" name="email" class="form-control-line form-control-white" type="email" required placeholder="your@email.address" data-validation-type="email" />
                                    </div>
                                    <div class="form-group mb-0">
                                        <div>
                                            <p class="email-ok invisible form-text-feedback form-success-visible">Your email has been registred, thank you.</p>
                                        </div>
                                        <button id="submit-email" class="btn btn-white btn-round btn-full form-success-gone" name="submit_email">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of section wrapper -->
        </div>
        <!-- End of register/login/signin section -->

        <!-- Begin of contact section -->
        <div class="section section-contact fp-auto-height-responsive no-slide-arrows " data-section="contact">

            <!-- begin of information slide -->
            <div class="slide" id="information" data-anchor="information">
                <!-- Begin of slide section wrapper -->
                <div class="section-wrapper">
                    <!-- title -->
                    <div class="section-title text-center">
                        <h5 class="title-bg">Contact</h5>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <!-- content -->
                            <div class="section-content anim text-left">
                                <!-- title and description -->
                                <div class="title-desc">
                                    <div class="anim-2">
                                        <h5>Customer Service</h5>
                                        <h2 class="display-4 display-title">Contact</h2>
                                        <p>For any query regarding our company, contact us on the following addresse.</p>
                                    </div>
                                    <div class="address-container anim-3">

                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-6">
                                                <h4>Contact</h4>
                                                <p>Call: +92 332 7383242
                                                        +92 336 0001410
                                                </p>
                                                <p>Email: contact@kodealpha.com</p>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-6">
                                                <h4>Address</h4>
                                                <p>
                                                    Apt. 407, Falcon Mall
                                                    <br>Plaza 34, Block A
                                                    <br>Civic Center, Phase 4 Bahria Town (46220),
                                                    <br>Rawalpindi, Pakistan
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Action button -->
                                <div class="btns-action anim-4">
                                    <a class="btn btn-outline-white btn-round" href="#contact/message">
                    <span class="txt">Send Message</span>
                  </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">

                        </div>
                    </div>
                </div>
                <!-- End of slide section wrapper -->
            </div>
            <!-- end of information slide -->

            <!-- begin of message slide -->
            <div class="slide" id="message" data-anchor="message">
                <!-- Begin of slide section wrapper -->
                <div class="section-wrapper">
                    <div class="row justify-content-between">
                        <div class="col-12 col-md-6 center-vh">
                            <!-- content -->
                            <div class="section-content anim text-left">
                                <!-- title and description -->
                                <div class="title-desc">
                                    <div>
                                        <h5>Customer Service</h5>
                                        <h2 class="display-4 display-title">Email Us</h2>
                                        <p>For questions about our company and products found on our stores. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem.</p>
                                    </div>
                                </div>

                                <!-- Action button -->
                                <div class="btns-action">
                                    <a class="btn btn-outline-white btn-round" href="#contact/information">
                    <span class="txt">Information</span>
                  </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-5">
                            <!-- content -->
                            <div class="section-content anim text-left">
                                <!-- title and description -->
                                <div class="">
                                    <div class="form-container form-container-card">
                                        <!-- Message form container -->
                                        <form class="send_message_form message form" method="post" action="ajaxserver/serverfile.php" id="message_form">
                                            <div class="form-group name">
                                                <label for="mes-name">Name :</label>
                                                <input id="mes-name" name="name" type="text" placeholder="" class="form-control-line form-success-clean" required>
                                            </div>
                                            <div class="form-group email">
                                                <label for="mes-email">Email :</label>
                                                <input id="mes-email" type="email" placeholder="" name="email" class="form-control-line form-success-clean" required>
                                            </div>
                                            <div class="form-group no-border">
                                                <label for="mes-text">Message</label>
                                                <textarea id="mes-text" placeholder="..." name="message" class="form-control form-control-outline thick form-success-clean" required></textarea>

                                                <div>
                                                    <p class="message-ok invisible form-text-feedback form-success-visible">Your message has been sent, thank you.</p>
                                                </div>
                                            </div>

                                            <div class="btns">
                                                <button id="submit-message" class="btn btn-normal btn-white btn-round btn-full email_b" name="submit_message">
                          <span class="txt">Send</span>
                          <span class="arrow-icon"></span>
                        </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of slide section wrapper -->
            </div>
            <!-- end of message slide -->

        </div>
        <!-- End of contact section -->
    </main>
    <!-- END OF page main content -->