   <!-- BEGIN OF page footer -->
   <footer id="site-footer" class="page-footer">
    <!-- Left content -->
    <div class="footer-left">
        <p>&copy; KODE ALPHA 2019 / All RIGHTS RESERVED.
           
        </p>
    </div>

    <!-- Right content -->
    <div class="footer-right">
        <ul class="social">
            <li>
                <a href="https://www.facebook.com/KodeAlpha/">
        <i class="icon fa fa-facebook"></i>
      </a>
            </li>
            <!-- <li>
                <a href="">
        <i class="icon fa fa-twitter"></i>
      </a>
            </li> -->
            <li>
                <a href="https://www.linkedin.com/in/mastercoder3/">
        <i class="icon fa fa-linkedin"></i>
      </a>
            </li>
            <!-- <li>
                <a href="">
        <i class="icon fa fa-instagram"></i>
      </a>
            </li> -->
        </ul>
    </div>
</footer>
<!-- END OF site footer -->